{{> header}}

     <div class="row">
<div class="col-lg-12">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          test
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <h1>
      <form class="m-form m-form--fit m-form--label-align-right" action="/sampleinput" method="post">
      <div class="form-group m-form__group">
            <label>Test</label>
            {{#if testin}}
            <input type="text" class="form-control m-input m-input--square" name="testInput" value="{{testin}}">
            {{else}}
            <input type="text" class="form-control m-input m-input--square" name="testInput" placeholder="placeholder value">
            {{/if}}
          </div>
          <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="m-form__actions">
            <button type="submit" class="btn btn-primary">Initiates Post Request</button>
          </div>
        </div>
      </form>
    </h1>
  </div>
</div>
</div>
</div>



{{> footer}}
