{{> header}}
<script src="../../../assets/demo/default/custom/crud/metronic-datatable/base/data-json-budgets.js" type="text/javascript"></script>
<script>
    function search() {
        var name = {searchTitle};
        alert("Name: ");
        alert(name);
        alert("Search");
        // Search movie requested by user
        var start = "http://www.omdbapi.com/?t=";
        var searchTitle = document.getElementById("SearchBar").value;
        var key = "&apikey=f0e99e3";
        var apiSearchWithKey = start.concat(searchTitle, key);
        alert(apiSearchWithKey);
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", apiSearchWithKey, false);
        xmlHttp.send(null);
        var response = xmlHttp.responseText;

        // Parse info
        var obj = JSON.parse(response);
        var title = obj.Title;
        var year = obj.Year;
        var genre = obj.Genre;
        var director = obj.Director;

        var titleSpan = document.getElementById('TitleValue');
        titleSpan.textContent = title;

        var yearSpan = document.getElementById('YearValue');
        yearSpan.textContent = year;

        var genreSpan = document.getElementById('GenreValue');
        genreSpan.textContent = genre;

        var directorSpan = document.getElementById('DirectorValue');
        directorSpan.textContent = director;
    }
</script>

<body onload="search()">
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Title: <span id="TitleValue"></span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Year: <span id="YearValue"></span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Genre: <span id="GenreValue"></span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Director: <span id="GenreValue"></span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <a href="/registeradmin" class="btn btn-danger">AdminAccount</a>
    </div>
    <!--End::Main Portlet-->
</div>
</div>
</body>
{{> footer}}
